<!DOCTYPE html>
<!--
index.html
Dylan Todd
Created: 12.04.23
Updated: 12.04.23
-->

<html>
<head>
    <title>CRE Stress Test Simulator</title>
</head>
<body>
    <h2>CRE Stress Test Simulation</h2>
    <form method="post">
        Market Condition (0-10): <input type="number" name="market_condition" step="any"><br>
        Vacancy Rate (%): <input type="number" name="vacancy_rate" step="any"><br>
        Construction Delay (Months): <input type="number" name="construction_delay"><br>
        <input type="submit" value="Run Simulation">
    </form>
</body>
</html>
